{% extends "dashboard/base.html" %}
{% load staticfiles %}


{% block extrahead %}




{% endblock extrahead %}


{% block content %}

<!-- Modal Editar Cheke -->
                            <div class="modal fade" id="EditarChekeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                            </div>

<!--Modal Editar Checke-->



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Chekes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div>
        <form id="form_search" method="post" action="{% url 'dashboard:filtrar' %}">
            {% csrf_token %}
             <div class="col-md-4">
                 <div class="input-daterange input-group " >
                    <input name="emission_date_start" class="datepicker search_date" readonly="" placeholder="Inicial" style="width:120px" type="text">
                    <span class="input-group-addon">Emission</span>
                    <input name="emission_date_end" class="datepicker search_date" readonly="" placeholder="Final" style="width:120px" type="text">
                </div>
             </div>

             <!--div class="col-md-4">
                 <div class="input-daterange input-group " >
                    <input name="at_date_start" class="datepicker search_date" readonly="" placeholder="Inicial" style="width:120px" type="text">
                    <span class="input-group-addon">At</span>
                    <input name="at_date_end" class="datepicker search_date" readonly="" placeholder="Final" style="width:120px" type="text">
                </div>
             </div>

             <div class="col-md-4">
                 <div class="input-daterange input-group " >
                    <input name="post_date_start" class="datepicker search_date" readonly="" placeholder="Inicial" style="width:120px" type="text">
                    <span class="input-group-addon">Post</span>
                    <input name="post_date_end" class="datepicker search_date" readonly="" placeholder="Final" style="width:120px" type="text">
                </div>
             </div-->
        </form>
        </div>
    <div class="col-lg-12" style="margin-top:10px">


        <div class="panel panel-default">
            <div class="panel-heading">
                Todos los Chekes
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper" id="filtrar">
                    <table class="table table-advance table_dynamic" id="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>bank</th>
                                <th>check_number</th>
                                <th>beneficiary</th>
                                <th>money_value</th>
                                <th>concept</th>
                                <th>notes</th>
                                <th>emission_date</th>
                                <th>at_date</th>
                                <th>post_date</th>


                            </tr>
                        </thead>
                        <tbody>
                        {%for item in chekes%}
                        {%if item.estado == 3%}
                            <tr class="info">
                         {%elif item.estado == 2%}
                            <tr class="warning">
                         {%elif item.estado == 1%}
                            <tr class="danger">
                         {%elif item.estado == 0%}
                            <tr class="danger">
                         {%endif%}
                                <td><a href="#" onclick="Editar({{item.id}})">editar</a></td>
                                <td>{{item.bank}}</td>
                                <td>{{item.check_number}}</td>
                                <td>{{item.beneficiary}}</td>
                                <td>{{item.concept}}</td>
                                <td>{{item.concept}}</td>
                                <td>{{item.notes}}</td>
                                <td>{{item.emission_date}}</td>
                                <td>{{item.at_date}}</td>
                                <td>{{item.post_date}}</td>

                            </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock content %}


{% block extrajs %}

<script type="text/javascript" src="{% static 'flaty/' %}assets/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="{% static 'flaty/' %}assets/data-tables/DT_bootstrap.js"></script>
<script src="{% static 'flaty/' %}js/flaty.js"></script>






<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
            responsive: true
    });
});
</script>

<script>
function Editar(id){
        var ruta = "/chekes2/" + id;
                var controlador = ruta.toString();

                $.ajax({url: controlador,
                    type: 'get',
                    data: $(this).serialize(),
                    async: true // veamos con true a ver que pasa
                })

                         .done(function(html) {

                              $("#EditarChekeModal").html(html);
                              $("#EditarChekeModal").show("fade");
                              $('#EditarChekeModal').modal('show');

                            })
                        .fail(function(error) {
                            console.log("error en mostrar pedido");
                             //ocultar_loader();
                        });
}
</script>
<script>

            $('.datepicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

</script>
<script>
     $('.search_date').on('change', function () {  // capture the click
       Filtrar();
    });
</script>
<script>
    function Filtrar(){


     //mostrar_loader();

                     var formData = new FormData($('#nuevoCheke')[0]);
                     $.ajax({url: '{% url 'dashboard:filtrar' %}',
                        type: 'post',
                        data: $('#form_search').serialize(),
                        async: false // veamos con true a ver que pasa

                    })

                            .done(function(html) {
                              $("#filtrar").html("");
                              $("#filtrar").html(html);
                              $("#filtrar").show("fade");
                            })

                            .fail(function(error) {
                                console.log('enviar_pedido, error');
                            });
    }
    function red(){
    location.href = '/chekes/';
    }
</script>

{% endblock extrajs %}