{% load staticfiles %}
                      <div class="modal-dialog" style="width:485px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Nuevo Cheke</h4>
                                        </div>
                                        <div class="modal-body">
                                            <section class="">


                <div class="" style="padding:0px">
                    <div id="mostrarPedido">
                        <div id="mensajes" class="alert alert-warning oculto"></div>
                    <form role="form" id="nuevoCheke" method="post" action="{% url 'dashboard:chekes' %}">
                        {% csrf_token %}
                        <fieldset>

                            <div class="form-group">
                                {{ form.bank}}
                            </div>
                            <div class="form-group">
                                {{ form.check_number}}
                            </div>
                            <div class="form-group">
                                {{ form.beneficiary}}
                            </div>
                            <div class="form-group">
                                {{ form.concept}}
                            </div>
                            <div class="form-group">
                                {{ form.notes}}
                            </div>
                            <div class="form-group">
                                {{ form.emission_date}}
                            </div>
                            <div class="form-group">
                                {{ form.at_date}}
                            </div>
                            <div class="form-group">
                                {{ form.post_date}}
                            </div>
                        </fieldset>
                    </form>


    </div>

                </div>
            </section>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-success" onclick="EnviarForm()">Crear</button>
                                            <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
<script>
    $('.selectpicker').selectpicker();
</script>
<script>

            $('.datepicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

</script>
<script>
    function EnviarForm(){

    if(!($('#id_check_number').val())){
    $('#mensajes').html('Debe de introducir un número de cheque valido.')
    $('#mensajes').attr('class','alert alert-warning oculto');
    $('#mensajes').removeClass('oculto');
    return null;
    }

    if(!($('#id_emission_date').val())){
    $('#mensajes').html('Debe de introducir una fecha de emisión valida.')
    $('#mensajes').attr('class','alert alert-warning oculto');
    $('#mensajes').removeClass('oculto');
    return null;
    }

     //mostrar_loader();

                     var formData = new FormData($('#nuevoCheke')[0]);
                     $.ajax({url: '{% url 'dashboard:chekes' %}',
                        type: 'post',
                        data: $('#nuevoCheke').serialize(),
                        async: false // veamos con true a ver que pasa

                    })

                            .done(function(json_data) {
                               $('#mensajes').html(json_data.mensaje)
                               $('#mensajes').attr('class','alert alert-warning oculto');
                               if(json_data.bandera){
                                $('#mensajes').attr('class','alert alert-success oculto');
                               }
                                $('#mensajes').removeClass('oculto');
                                setTimeout("red()", 1000); //tiempo expresado en milisegundos
                            })

                            .fail(function(error) {

                                console.log('enviar_pedido, error');
                            });
    }
    function red(){
    location.href = '/chekes/';
    }
</script>

<script>
    $('#id_at_date').on('click', function () {  // capture the click
        $("#id_post_date").val('');
    });
        $('#id_post_date').on('click', function () {  // capture the click
        $("#id_at_date").val('');
    });
</script>