{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin: {{ title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Data picker --><!--Date-->
    <link href="{% static 'inspinia-date/' %}css/plugins/datapicker/datepicker3.css" rel="stylesheet">



    {% block extrahead %}
    {% endblock extrahead %}



</head>

{% block extrastyle %}
{% endblock extrastyle %}

<body>
    {% block basecontent %}
    {% endblock basecontent %}

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

     <!-- Data picker -->
   <script src="{% static 'inspinia-date/' %}js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- Image cropper -->
    <script src="{% static 'inspinia-date/' %}js/plugins/cropper/cropper.min.js"></script>

    <!-- Tags Input -->
    <script src="{% static 'inspinia-date/' %}js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    {% block extrajs %}
    {% endblock extrajs %}
</body>
</html>
