{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin: {{ title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Data picker --><!--Date-->
    <link href="{% static 'inspinia-date/' %}css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'select/' %}css/bootstrap-select.css">


    <link rel="stylesheet" href="{% static 'flaty/' %}assets/data-tables/DT_bootstrap.css" />
    <link rel="stylesheet" href="{% static 'flaty/' %}assets/bootstrap/bootstrap.min.css">


    <link rel="stylesheet" href="{% static 'alertify/' %}css/alertify.core.css" />
    <link rel="stylesheet" href="{% static 'alertify/' %}css/alertify.default.css" id="toggleCSS" />

<style>
    .oculto{
    display:none
    }
</style>

    {% block extrahead %}
    {% endblock extrahead %}



</head>

{% block extrastyle %}
{% endblock extrastyle %}

<body>
<!-- Modal Mostrar Pedidos -->
                            <div class="modal fade" id="NuevoChekeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width:485px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Nuevo Cheke</h4>
                                        </div>
                                        <div class="modal-body">
                                            <section class="">


                <div class="" style="padding:0px">
                    <div id="mostrarPedido">
                        <div id="mensajes" class="alert alert-warning oculto"></div>
                    <form role="form" id="nuevoCheke" method="post" action="{% url 'dashboard:chekes' %}">
                        {% csrf_token %}
                        <fieldset>

                            <div class="form-group">
                                {{ form.bank}}
                            </div>
                            <div class="form-group">
                                {{ form.check_number}}
                            </div>
                            <div class="form-group">
                                {{ form.beneficiary}}
                            </div>
                            <div class="form-group">
                                {{ form.concept}}
                            </div>
                            <div class="form-group">
                                {{ form.notes}}
                            </div>
                            <div class="form-group">
                                {{ form.emission_date}}
                            </div>
                            <div class="form-group">
                                {{ form.at_date}}
                            </div>
                            <div class="form-group">
                                {{ form.post_date}}
                            </div>
                        </fieldset>
                    </form>


    </div>

                </div>
            </section>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-success" onclick="EnviarForm()">Crear</button>
                                            <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

<!--Modal-->
    {% block basecontent %}
    {% endblock basecontent %}

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

     <!-- Data picker -->
   <script src="{% static 'inspinia-date/' %}js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- Image cropper -->
    <script src="{% static 'inspinia-date/' %}js/plugins/cropper/cropper.min.js"></script>

    <!-- Tags Input -->
    <script src="{% static 'inspinia-date/' %}js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <script src="{% static 'select/' %}js/bootstrap-select.js" defer></script>

    <script src="{% static 'alertify/' %}js/alertify.min.js"></script>



<script>
function NuevoCheque(){
        var ruta = "/cheque_modal/";
                var controlador = ruta.toString();

                $.ajax({url: controlador,
                    type: 'get',
                    data: $(this).serialize(),
                    async: true // veamos con true a ver que pasa
                })

                         .done(function(html) {

                              $("#NuevoChekeModal").html(html);
                              $("#NuevoChekeModal").show("fade");
                              $('#NuevoChekeModal').modal('show');

                            })
                        .fail(function(error) {
                            console.log("error en mostrar pedido");
                             //ocultar_loader();
                        });
}
</script>
    {% block extrajs %}
    {% endblock extrajs %}
<script>
jQuery.fn.exists = function () {
    return this.length > 0;
}
    setInterval(mostrar_mensajes, 10000);
    function mostrar_mensajes(){


    var ruta = "/mostrar_mensajes/";

    $.ajax({url: ruta,
        type: 'get',
        async: true // veamos con true a ver que pasa
    })

     .done(function(json_data) {
        //alert(json_data.mensajes);
        if(json_data.prioridad >= 2){
                if(!$('#alertify').exists() || $('#alertify').hasClass('alertify-hide') ){
                alertify.set({ buttonReverse: true ,labels : { ok     : "Aceptar"}});
                alertify.alert(json_data.mensajes, function (e) {
                        if (e) {
                        $("#alertify").remove();
                        eliminar_mensaje(json_data.id);
                        //acción poner mensaje como leido
                        }
                    });
                }
        }
        if(json_data.prioridad == 2){
                alertify.success(json_data.mensajes);

        }

                            })
     .fail(function(error) {
        console.log('mostrar mensajes error');
                        });

}
</script>

<script>
    function eliminar_mensaje(id){

                var ruta = "/eliminar_mensaje/" + id;
                var controlador = ruta.toString();

                console.log(controlador);

                $.ajax({url: controlador,
                    type: 'get',
                    data: $(this).serialize(),
                    async: true
                })

                         .done(function(json_data) {

                                //$("#mostrarMensajes").html(html);
                                //$("#mostrarMensajes").show("fade");
                            console.log(json_data.mensajes);


                            })
                        .fail(function(error) {
                            $("#ajax-waiting-loader").hide();
                            console.log("error en eliminar_mensajes");
                        });

}
</script>
</body>
</html>
